<div class="header">
  <button (click)="toggleEditMode()">{{ isEditing ? 'Disable' : 'Enable' }} edit mode</button>

  <input *ngIf="isEditing" type="file" (change)="onFileChange($event)" accept=".svg" />

  <button *ngIf="isEditing" (click)="newNode()">New Node</button>
</div>

<div class="svg-container">
  <div class="selectedElementData" *ngIf="isEditing && (!!selectedElementIdx || selectedElementIdx === 0)">
    <form #form="ngForm">
      <div class="positionData">
        <p>Node Parameters</p>
        <div class="row">
          <span class="title">type: </span>
          <select class="value" [(ngModel)]="selectedElementData.type" name="type" (change)="handleTypeChange($event)">
            <option [value]="ElementType.CIRCLE">Circle</option>
            <option [value]="ElementType.RECTANGLE">Rectangle</option>
          </select>
        </div>
        <div class="row">
          <span class="title">x: </span>
          <input class="value" disabled [ngModel]="selectedElementData.position.x" type="number" name="x" />
        </div>
        <div class="row">
          <span class="title">y: </span>
          <input class="value" disabled [ngModel]="selectedElementData.position.y" type="number" name="y" />
        </div>
        <div class="row" *ngIf="selectedElementData.type === ElementType.RECTANGLE">
          <span class="title">width: </span>
          <input class="value" [(ngModel)]="selectedElementData.position.width" type="number" [attr.step]="gridCellSize" [attr.min]="gridCellSize" name="width" />
        </div>
        <div class="row" *ngIf="selectedElementData.type === ElementType.RECTANGLE">
          <span class="title">height: </span>
          <input class="value" [(ngModel)]="selectedElementData.position.height" type="number" [attr.step]="gridCellSize" [attr.min]="gridCellSize" name="height" />
        </div>
        <div class="row" *ngIf="selectedElementData.type === ElementType.CIRCLE">
          <span class="title">radius: </span>
          <input class="value" [(ngModel)]="selectedElementData.position.radius" type="number" [attr.step]="gridCellSize" [attr.min]="gridCellSize" name="radius" />
        </div>
        <div class="row color">
          <span class="title">fill: </span>
          <div>
            <input class="value" [(ngModel)]="selectedElementData.style.fill" name="fill" />
            <input class="value color-input" type="color" [(ngModel)]="selectedElementData.style.fill" name="fill" />
          </div>
        </div>
        <div class="row">
          <span class="title">font size: </span>
          <input class="value" type="number" [(ngModel)]="selectedElementData.style.fontSize" name="fontSize" min="1" />
        </div>
        <div class="row color">
          <span class="title">text color: </span>
          <div>
            <input class="value" [(ngModel)]="selectedElementData.style.textColor" name="textColor" />
            <input class="value color-input" type="color" [(ngModel)]="selectedElementData.style.textColor" name="textColor" />
          </div>
        </div>
      </div>
      <div class="sourceData">
        <p>Value Parameters</p>
        <div class="row">
          <span class="title">subsystem: </span>
          <select class="value" name="subsystem"
          [(ngModel)]="selectedElementData.source.subsystem" (change)="setElementSubsystem($event)">
            <option *ngFor="let subsystem of subsystems" [value]="subsystem.id">
              {{ subsystem.name }}
            </option>
          </select>
        </div>
        <div class="row">
          <span class="title">device: </span>
          <select class="value" name="device"
          [(ngModel)]="selectedElementData.source.device" (change)="setElementDevice($event)">
            <option *ngFor="let device of getDevicesForSubsystem()" [value]="device.id">
              {{ device.name }}
            </option>
          </select>
        </div>
        <div class="row">
          <span class="title">field: </span>
          <select class="value" name="field"
          [(ngModel)]="selectedElementData.source.field" (change)="setElementField($event)">
            <option *ngFor="let field of getFieldsForDevice()" [value]="field.id">
              {{ field.name }}
            </option>
          </select>
        </div>
        <div class="row">
          <span class="title">unit: </span>
          <input class="value" [(ngModel)]="selectedElementData.source.unit" name="unit" />
        </div>
        <div class="row">
          <span class="title">show arrow: </span>
          <input class="value" type="checkbox" [(ngModel)]="selectedElementData.hasDirection" name="hasDirection" />
        </div>
        <div class="row"  *ngIf="selectedElementData.hasDirection">
          <span class="title">positive value arrow direction: </span>
          <select class="value" [(ngModel)]="selectedElementData.directionData.positiveDirection" name="positiveDirection" (change)="onDirectionChange($event)">
            <option [value]="null">-</option>
            <option [value]="Direction.LEFT">Left</option>
            <option [value]="Direction.RIGHT">Right</option>
            <option [value]="Direction.UP">Up</option>
            <option [value]="Direction.DOWN">Down</option>
          </select>
        </div>
      </div>
    </form>
    <button (click)="deleteSelectedNode()">Delete Node</button>
  </div>
  <div class="svg">
    <svg #svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="calc(100vw - 30px)"
      height="100%" viewBox="0, 0, 400, 225" [ngClass]="{ 'isEditing': isEditing }"
      (mousedown)="selectElement($event)" (mousemove)="drag($event)"
      (mouseup)="endDrag($event)" (mouseleave)="endDrag($event)"
      preserveAspectRatio="xMaxYMin meet"
      >

      <g id="backgroundSvg" [innerHtml]="backgroundSvgInnerHtml"></g>

      <defs *ngIf="isEditing">
        <pattern id="smallGrid" [attr.width]="gridCellSize" [attr.height]="gridCellSize" patternUnits="userSpaceOnUse">
          <path d="M 8 0 L 0 0 0 8" fill="none" stroke="gray" stroke-width="0.5"/>
        </pattern>
        <pattern id="grid" [attr.width]="gridCellSize * 10" [attr.height]="gridCellSize * 10" patternUnits="userSpaceOnUse">
          <rect [attr.width]="gridCellSize * 10" [attr.height]="gridCellSize * 10" fill="url(#smallGrid)"/>
          <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1"/>
        </pattern>
      </defs>

      <rect width="100%" height="100%" fill="url(#grid)" />

      <g *ngFor="let el of elements; let idx = index">
        <rect [attr.elIdx]="idx" class="draggable" [ngClass]="{ 'isEditing': isEditing, 'isSelected': selectedElementIdx == idx }"
          *ngIf="el.type === ElementType.RECTANGLE"
          [attr.x]="el.position.x" [attr.y]="el.position.y"
          [attr.width]="(idx === selectedElementIdx ? selectedElementData : el).position.width || 10" [attr.height]="(idx === selectedElementIdx ? selectedElementData : el).position.height || 10"
          [attr.fill]="el.style?.fill || '#f14e5d'"
        />

        <circle [attr.elIdx]="idx" class="draggable" [ngClass]="{ 'isEditing': isEditing, 'isSelected': selectedElementIdx == idx }"
          *ngIf="el.type === ElementType.CIRCLE"
          [attr.cx]="el.position.x" [attr.cy]="el.position.y"
          [attr.r]="(idx === selectedElementIdx ? selectedElementData : el).position.radius || 10" [attr.fill]="el.style?.fill || '#f14e5d'"
        />

        <circle [attr.elIdx]="idx"
          *ngIf="selectedElementIdx == idx" class="draggable resizeHandle"
          [attr.cx]="getResizeDotX()"
          [attr.cy]="getResizeDotY()"
          r="2.5" fill="#ff7f0e"
        />

        <text class="draggable" [ngClass]="{ 'isEditing': isEditing }"
        [attr.x]="calcTextX(el)" [attr.y]="calcTextY(el)" [attr.fill]="el.style.textColor"
        dominant-baseline="middle" text-anchor="middle" [attr.font-size] ="el.style.fontSize > 0 ? el.style.fontSize : 1">
          {{ getArrowData(el, idx) }}
          {{ getValue(el, idx) }}
          </text>
      </g>
      
    </svg>
  </div>
</div>
